$white: #ffffff;
$black: #000000;
$grey: #999999;

$backgroundgrey: #e6e6e6;

$mainblue: #00BCD4;

$acent1: #E56C8B;
$acent2: #7992CC;
$acent3: #FECD56;
$acent4: #65BA87;
$acent5: #B56FC6;
$acent6: #AED87D;
$acent7: #A8DEE2;
$acent8: #EF9A6F;
$acent9: #6965BA;
$acent10: #6CE0C1;
$acent11: #E5E153;
$acent12: #5594AA;
$acent13: #999999;


$lightgrey: #e0e0e0;
$lightblue: #61b9cf;

