* {
    font-family: Roboto, sans-serif;
}

body {
    background-color: $backgroundgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

#root {
    width: 100vw;
    height: 100vh;
    position: relative;
}

