
#main-form {
    width: 95vw;
    height: 88vh;
    margin: 0 auto;
    background-image: url('./svg/ilu.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    form {
        width: 40%;
        margin: 0 auto;
    }
    label {
        display: block;
        font-family: "Roboto Slab", serif;
        font-weight: 300;
        font-size: 1.5em;
        margin: 1em 0;
        color: $white;
        position: relative;
        input {
            border: none;
            outline: 0;
            background-color: transparent;
            border-bottom: 1px solid $white;
            position: absolute;
            left: 10em;
        }
    }
    a {
        background-color: $mainblue;
        outline: 0;
        border: 0;
        border-radius: .5em;
        padding: .5em 0;
        text-align: center;
        color: $white;
        width: 5em;
        display: block;
        margin: 3em auto 0;
        text-decoration: none;
        &:hover {
            cursor: pointer;
        }
    }
}

.blue {
    color: $mainblue;
}

h2 {
    font-size: 3.5em;
    text-align: center;
}

.balance {
    text-align: right;
    // margin-top: 5em;
    h2 {
        margin-top: 0;
        text-align: right;
        color: $black;
        font-size: 3.2em;
    }
    h5 {
       color: $grey;
       font-size: 1.3em;
       font-weight: 400;
       font-family: "Roboto Slab", serif;
       margin-bottom: 1em;
    }
    > div {
        position: relative;
        p {
            width: 60%;
            top: -14px;
            right: 0;
            text-align: center;
            color: $white;
            position: absolute;
            z-index: 10;
        }
    }
    
}

.bar-wrapper {
    width: 50%;
    height: 40vh;
    float: left;
}


