#result {
    width: 95vw;
    height: 92vh;
    background-color: $mainblue;
    margin: 0 auto;
    margin-top: 4vh;
    padding: 3em;
    padding-top: 2em;
    box-sizing: border-box;
    h2 {
        font-size: 2.8em;
        font-weight: 800;
    }
    .profile-pic {
        width: 30vh;
        height: 30vh;
        float: left;
        background-image: url('./svg/profilepic.svg');
    }
    .data {
        float: left;
        padding: 0 10vh;
        min-height: 30vh;
        min-width: 35vw;
        border-right: 1px solid $white;
        .name {
            color: $white;
            margin-bottom: .8em;
            font-size: 3.5em;
        }
        p {
            margin:0;
            font-family: "Roboto Slab";
            font-weight: 300;
            position: relative;
            top: -10px;
            >p:nth-child(2),p:nth-child(3),p:nth-child(4) {
                color: $white;
                text-indent: 20vw;
                position: relative;
                top: -31px;
                font-size: 1em;
            }
        }
    }
    .graph {
        width: 33vh;
        height: 33vh;
        float: right;
        background-image: url('./svg/wroclaw-bar.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    .final-result {
        clear: both;
        text-align: center;
        font-weight: 500;
        font-size: 2.5em;
        // padding-top: 2vh;
        span {
            color: $white;
            font-size: 2.5em;
        }
    }
    h3 {
        text-align: center;
        font-weight: 300;
        font-size: 1.7em;
        span {
            color: $white;
            font-family: "Roboto Slab";
        }
    }
}