.category {
    font-family: "Roboto Slab";
    font-size: 1.7vh;
    margin-bottom: 0;
}

.cat-description {
    position: absolute;
    right:0;
    top:-12px;
    font-size: .8em;
    opacity: .8;
}

.slider div[tabindex="0"]{
    z-index: -1 !important;
}

.oneslider {
   position: relative;
}

